name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: ./build.sh

      - name: Upload Alpha.app
        uses: actions/upload-artifact@v4
        with:
          name: Alpha.app
          path: .build/DerivedData/Build/Products/Release/Alpha.app
